* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: inter;
    }

img{
    display: block;
    max-width: 100%;
}


.container {
    max-width: 1174px;
    margin: 0 auto;
}

.header{
    display: flex;
    margin: 40px auto 84px auto;
    /* justify-content: center; */
    gap: 460px;
    /* align-self: center; */
    
 }

 .hrefs{
    display: flex;
    gap: 34px;
    align-self: center;

    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
 }
a{
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
 .link_home{
    color: rgb(242, 88, 34);
    font-weight: 600;
 }

 .link_features{
    display: flex;
    gap: 6px;
    align-items: flex-end;
 }

 .page_1{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
 }

 .main_left_content{
    max-width: 556px;
 }
.page_1 h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;

    margin-bottom: 20px;
}

.page_1 h2{
    color: rgb(136, 136, 136);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;

    margin-bottom: 32px;
}
.page_1 img{
    width: 545px;
 }
.buttons{
display:flex;
gap: 40px;

}

  .btn_1{

    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: rgb(255, 255, 255);
    
    width: 140px;
    height: 51px;
    gap: 10;
    padding: 16px 10px 16px 10px;   

    border-radius: 56px;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
    background: rgb(242, 88, 34);
    border: none;

    cursor: pointer;
 }

 .btn_2{
    color: rgb(170, 170, 170);
    border: none;
    background-color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
 }

 .logos{
    padding:100px 0;
    display: flex;
    justify-content: space-between;
 }

 .top_space{
   display: flex;
   justify-content: space-between;
   padding: 100px 0;
 }

 .block_top_space{
   max-width: 378px;
   padding: 40px 34px; 
 }

 .block_top_space_mid{
   max-width: 378px;
   box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
   background: rgb(255, 255, 255);
   padding: 40px 34px;
 }

 .page2_top_icon{
   margin-bottom: 25px;
 }

 .top_space_top_txt{
   font-family: Inter;
   font-size: 24px;
   font-weight: 700;
   line-height: 29px;

   margin-bottom: 18px;
 }

 .block_top_space p, .block_top_space_mid p{
   color: rgb(102, 102, 102);
   font-family: Inter;
   font-size: 14px;
   font-weight: 400;
   line-height: 150%;

   margin-bottom: 25px;
 }

 .top_space_down_txt{
   color: rgb(0, 0, 0);
   font-family: Inter;
   font-size: 14px;
   font-weight: 600;
   line-height: 150%;
 }

 .page2_down{
   background: rgb(250, 250, 250);
 }
 .page_2_label{
   padding: 100px 0 24px;
   font-family: Inter;
   font-size: 48px;
   font-weight: 700;
   line-height: 120%;
   text-align: center;
 }

 .page_2_p{

   color: rgb(136, 136, 136);
   font-family: Inter;
   font-size: 16px;
   font-weight: 400;
   line-height: 140%;
   text-align: center;
   max-width: 740px;

   margin-bottom: 48px;
 }
 .page2_txt{
   display: flex;
   flex-direction: column;

   align-items: center;
 }



